
// Grid styles
.grid-two-column,.grid-two-columns{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 20px;
  @media (min-width: $wvu-bp-lg){
    grid-template-columns: 1fr 1fr;
    }
  }
.grid-three-column, .grid-three-columns{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 20px;
  @media (min-width: $wvu-bp-lg){
    grid-template-columns: 1fr 1fr 1fr;
    }
  }
.grid-four-column,.grid-four-columns{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 20px;
  @media (min-width: $wvu-bp-lg){
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    }
  }
.grid-tiles, .grid-tile{
  display:grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr; 
  @media (min-width: $wvu-bp-lg){
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

.grid-tiles.tile-two-column{
  @media (min-width: $wvu-bp-lg){
    grid-template-columns: 1fr 1fr;
    }
  }
.grid-tiles.tile-three-column{
  @media (min-width: $wvu-bp-lg){
    grid-template-columns: 1fr 1fr 1fr;
    }
  }
.grid-tiles.tile-four-column{
   @media (min-width: $wvu-bp-lg){
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }


.frontpage.grid-two-columns,.frontpage.grid-two-column{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:min-content;
  grid-column-gap: 20px;
  @media (min-width: $wvu-bp-lg){
    grid-template-columns: 1fr 1fr;
    grid-template-rows:min-content;
    }
  }

.cards, .card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 2em;
}

